In [3]:
import pandas as pd
import numpy as np
import shutil
import os
import glob


df5 = pd.read_csv('STATUS_WF.csv',encoding='windows-1252')
df5.head()

,OFFICE_ID,STATUS,6/21/2018,6/22/2018,6/23/2018,6/24/2018,6/25/2018,6/26/2018,6/27/2018,6/28/2018,...,12/22/2018,12/23/2018,12/24/2018,12/25/2018,12/26/2018,12/27/2018,12/28/2018,12/29/2018,12/30/2018,12/31/2018
0,0,WORKING,142.0,146.0,146.0,146.0,143.0,143.0,147.0,144.0,...,156.0,156.0,153.0,153.0,153.0,154.0,154.0,154.0,154.0,142.0
1,1,WORKING,82.0,82.0,82.0,82.0,78.0,81.0,81.0,82.0,...,129.0,129.0,125.0,125.0,128.0,127.0,127.0,127.0,127.0,123.0
2,2,WORKING,171.0,171.0,170.0,170.0,164.0,160.0,159.0,168.0,...,172.0,172.0,166.0,166.0,166.0,165.0,165.0,165.0,165.0,157.0
3,3,WORKING,97.0,101.0,102.0,102.0,97.0,117.0,116.0,119.0,...,167.0,167.0,161.0,161.0,161.0,162.0,162.0,162.0,162.0,145.0
4,4,WORKING,120.0,132.0,131.0,131.0,127.0,136.0,137.0,138.0,...,183.0,183.0,159.0,159.0,159.0,159.0,158.0,157.0,157.0,150.0

In [5]:

badboylist = ['6/21/2018','6/22/2018','6/23/2018','6/24/2018','6/25/2018','6/26/2018','6/27/2018','6/28/2018']

df6 =  pd.DataFrame([])
for l in badboylist:

    df = df5[['OFFICE_ID','STATUS',l]]
    df.columns = ['OFFICE_ID','STATUS','AMOUNT']
    df['CAL_DATE'] = l
    df6 = df.append(df6)

df6.to_csv('UNPIVOTED.csv', sep=',', encoding='utf-8', index = False)

df6.head()

C:\Users\anthony.macko\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   OFFICE_ID   STATUS  AMOUNT   CAL_DATE
0          0  WORKING   144.0  6/28/2018
1          1  WORKING    82.0  6/28/2018
2          2  WORKING   168.0  6/28/2018
3          3  WORKING   119.0  6/28/2018
4          4  WORKING   138.0  6/28/2018